html, body{
    border:0;
    position:absolute;
    background:#111;
}
html{
    margin:0;
    width:100%;
    height:100%;
}
body{
    margin:5%;
    width:90%;
    height:90%;
}
svg{
    position: absolute;
    display: block;
}
svg,
.hell_button_shell{
    width: 200px;
    height: 100px;
}
.hell_button_shell{
    position:relative;
    cursor:pointer;
}
